<div class="container" >
<!-- <button *ngIf= "timerDone" class="btn btn-primary" (click)="onDisplay()"> Display New Image </button> -->

<div class="none" *ngIf="noneFound">
      <h1> No More Images Matching the Given Inputs</h1>
      <p style="display:inline-block;">Try selecting different features or mark them unknown </p><p>click Update
      , or click Go Back to redo the initial features</p>
      <div *ngIf="firstUpdate" class="btn btn-primary" (click)="newnewImage()">
            Find a New Image matching only the initial features
      </div>
</div>
<br>
<div *ngIf="displayNewImage" style="display: table-cell;"> <img class="img-responsive" src= 'assets/face ({{imageIndex}}).jpg' alt = 'image' height="450" width="450">

      <div *ngIf = "firstUpdate" class="btn btn-primary" (click) = "previousImage()">
             Go to Previous Image
      </div>
</div>

<div class="col-xs-7" *ngIf="displayNewImage" style="display: inline-block;">
<h3 >When you have found a face that is very similar or the same as the original, please submit a LIKENESS rating</h3>
<h4>If you want to see more images, click Update!</h4>
<h5> 1 being 'does not resemble the person at all' and 5 being 'the exact face'</h5>
<form (ngSubmit)="onLikeness()">

            <input type="radio" id="one" name="Rating" value='1' (change)="onChangeRating($event)">
            <label style="padding-right: 2%;" for="one">1</label>
            <input type="radio" id="two" name="Rating" value='2' (change)="onChangeRating($event)">
            <label style="padding-right: 2%;" for="two">2</label>
            <input type="radio" id="three" name="Rating" value='3' (change)="onChangeRating($event)">
            <label style="padding-right: 2%;" for="three">3</label>
            <input type="radio" id="four" name="Rating" value='4' (change)="onChangeRating($event)">
            <label style="padding-right: 2%;" for="four">4</label>
            <input type="radio" id="five" name="Rating" value='5' (change)="onChangeRating($event)">
            <label style="padding-right: 2%;" for="five"> 5</label> 
            <br>

      <input  class = "btn btn-success" type="submit" value="Submit">

</form>
</div>
</div>
