<h1 style="background-color:rgb(143, 169, 216)">Description:</h1>

<div class="initial" *ngIf="(!initialSubmitted)">
      <p style="background-color: rgb(143, 169, 216);"> Describe the image you saw as well as you can </p>
      <form (ngSubmit)="onSubmit()">
<input class="btn btn-primary" type="submit" value="Find Image">
<div class="col-xs-12">
        <div class="inputField">

             <h4>Ethnicity:</h4>
              <input type="radio" id="black" name="ethnicity" value="black" (change)="onChangeEthnicity($event)">
              <label for="Black">Black</label><br>
              <input type="radio" id="white" name="ethnicity" value="white" (change)="onChangeEthnicity($event)">
              <label for="White">White</label><br>
              <input type="radio" id="asian" name="ethnicity" value="asian" (change)="onChangeEthnicity($event)">
              <label for="Asian">Asian</label><br>
              <input type="radio" id="indian" name="ethnicity" value="indian" (change)="onChangeEthnicity($event)">
              <label for="Indian">Indian</label><br>
            <input type="radio" id="other" name="ethnicity" value="latino hispanic" (change)="onChangeEthnicity($event)">
            <label for="Latino Hispanic">Latino Hispanic</label><br>
            <input type="radio" id="other" name="ethnicity" value="middle eastern" (change)="onChangeEthnicity($event)">  
            <label for="Middle Eastern">Middle Eastern</label><br>
            <input type="radio" id="other" name="ethnicity" value="" (change)="onChangeEthnicity($event)">
            
            <label for="other"> Unknown/Other</label><br>
</div>
            
      <div class="inputField">

            <h4>Gender:</h4>
            <input type="radio" id="male" name="gender" value="Man" (change)="onChangeGender($event)">
            <label for="gender1"> Man</label><br>
            <input type="radio" id="female" name="gender" value="Woman" (change)="onChangeGender($event)">
            <label for="gender2"> Woman</label><br>
            <input type="radio" id="unknown" name="gender" value="" (change)="onChangeGender($event)">
            <label for="gender3"> Unknown/Other</label><br>
      </div>
            
</div>
            
            <!-- <br>
            <div class="col-xs-4">
                  <h4>Hair Length:</h4>
            </div> -->
<hr>
<div class="col-xs-12">
            <div class="inputField">
                  <h4>Eye Colour:</h4>
                  <input type="radio" id="brown" name="EyeColor" value="brown" (change)="onChangeEyeColor($event)">
                    <label for="brown">Brown</label><br>
                  <input type="radio" id="blue" name="EyeColor" value="grey" (change)="onChangeEyeColor($event)">
                    <label for="blue">Blue</label><br>
                  <!-- <input type="radio" id="black" name="EyeColor" value="black" (change)="onChangeEyeColor($event)">
                    <label for="black">Black</label><br> -->
                  <input type="radio" id="green" name="EyeColor" value="grey" (change)="onChangeEyeColor($event)">
                    <label for="green">Green</label><br>
                  <input type="radio" id="other" name="EyeColor" value="" (change)="onChangeEyeColor($event)">
                    <label for="other">Unknown/Other</label><br>
            </div>

<div class="inputField">
      <h4>Hair Colour:</h4>
      <input type="radio" id="brown" name="HairColor" value="brown" (change)="onChangeHairColor($event)">
        <label for="brown">Brown</label><br>
      <input type="radio" id="black" name="HairColor" value="black" (change)="onChangeHairColor($event)">
        <label for="blue">Black</label><br>
      <input type="radio" id="blonde" name="HairColor" value="blonde" (change)="onChangeHairColor($event)">
        <label for="blonde">Blonde</label><br>
      <input type="radio" id="grey" name="HairColor" value="grey" (change)="onChangeHairColor($event)">
        <label for="grey">Grey</label><br>
      <input type="radio" id="other" name="HairColor" value="" (change)="onChangeHairColor($event)">
        <label for="other">Unknown/Other</label><br>
</div>
</div>
      </form>
      </div>


      <div class="updates" *ngIf="(initialSubmitted)">
      <p class = "col-xs-9"style="display:inline-block; background-color: rgb(143, 169, 216); "> Click update to find a new image matching the descriptions </p>

<form (ngSubmit)="Update()">
      <input class = "btn btn-primary" type="submit" value="Update" style="display:inline-block;"><br>
      
<div class="col-xs-4">
      <h4>Eye Size:</h4>
      <input type="radio" id="smaller" name="EyeSize" value="smaller" (change)="onChangeEyeSize($event)">
        <label for="smaller">Smaller</label><br>
      <input type="radio" id="bigger" name="EyeSize" value="bigger" (change)="onChangeEyeSize($event)">
        <label for="bigger">Bigger</label><br>
      <input type="radio" id="unknown" name="EyeSize" value="" (change)="onChangeEyeSize($event)">
        <label for="uknown">Uknown</label><br>
</div>
<div class="col-xs-4">
      <h4>Eye Spacing:</h4>
            <input type="radio" id="EyeSpacing1" name="EyeSpacing" value="smaller" (change)="onChangeEyeSpacing($event)">
            <label for="EyeSpacing1">Smaller</label><br>
            <input type="radio" id="EyeSpacing2" name="EyeSpacing" value="bigger" (change)="onChangeEyeSpacing($event)">
            <label for="EyeSpacing2">Bigger</label><br>
            <input type="radio" id="EyeSpacing2" name="EyeSpacing" value="" (change)="onChangeEyeSpacing($event)">
            <label for="EyeSpacing2">Unknown</label><br>
</div>



<div class="col-xs-4">
      <h4>Nose Width:</h4>
      <input type="radio" id="NoseWidth1" name="NoseWidth" value="smaller" (change)="onChangeNoseWidth($event)">
      <label for="NoseWidth1">Smaller</label><br>
      <input type="radio" id="NoseWidth2" name="NoseWidth" value="bigger" (change)="onChangeNoseWidth($event)">
      <label for="NoseWidth2">Bigger</label><br>
      <input type="radio" id="NoseWidth2" name="NoseWidth" value="" (change)="onChangeNoseWidth($event)">
      <label for="NoseWidth2">Unknown</label><br>
</div>
<div class="col-xs-4">
<h4>Nose Length:</h4>
<input type="radio" id="NoseLength1" name="NoseLength" value="smaller" (change)="onChangeNoseLength($event)">
<label for="NoseLength1">Smaller</label><br>
<input type="radio" id="NoseLength2" name="NoseLength" value="bigger" (change)="onChangeNoseLength($event)">
<label for="NoseLength2">Bigger</label><br>
<input type="radio" id="NoseLength2" name="NoseLength" value="" (change)="onChangeNoseLength($event)">
<label for="NoseLength2">Unknown</label><br>
</div>

<br>
<div class="col-xs-4">
<h4>Face Area:</h4>
<input type="radio" id="FaceArea1" name="FaceArea" value="smaller" (change)="onChangeFaceArea($event)">
<label for="FaceArea1">Smaller</label><br>
<input type="radio" id="FaceArea2" name="FaceArea" value="bigger" (change)="onChangeFaceArea($event)">
<label for="FaceArea2">Bigger</label><br>
<input type="radio" id="FaceArea2" name="FaceArea" value="" (change)="onChangeFaceArea($event)">
<label for="FaceArea2">Unknown</label><br>
</div>

<div class="col-xs-4">
<h4>Mouth Width:</h4>
<input type="radio" id="MouthWidth1" name="MouthWidth" value="smaller" (change)="onChangeMouthWidth($event)">
<label for="MouthWidth1">Smaller</label><br>
<input type="radio" id="MouthWidth2" name="MouthWidth" value="bigger" (change)="onChangeMouthWidth($event)">
<label for="MouthWidth2">Bigger</label><br>
<input type="radio" id="MouthWidth2" name="MouthWidth" value="" (change)="onChangeMouthWidth($event)">
<label for="MouthWidth2">Unknown</label><br>
</div>

<div class="col-xs-4">
<h4>Lip Thickness:</h4>
<input type="radio" id="LipThickness1" name="LipThickness" value="smaller" (change)="onChangeLipThickness($event)">
<label for="LipThickness1">Smaller</label><br>
<input type="radio" id="LipThickness2" name="LipThickness" value="bigger" (change)="onChangeLipThickness($event)">
<label for="LipThickness2">Bigger</label><br>
<input type="radio" id="LipThickness2" name="LipThickness" value="" (change)="onChangeLipThickness($event)">
<label for="LipThickness2">Unknown</label><br>
</div>

<br>
<div class="col-xs-4">
<h4>Emotion:</h4>
<input type="radio" id="Emotion1" name="Emotion" value="neutral" (change)="onChangeEmotion($event)">
<label for="Emotion1">Neutral</label><br>
<input type="radio" id="Emotion2" name="Emotion" value="happy" (change)="onChangeEmotion($event)">
<label for="Emotion2">Happy</label><br>
<input type="radio" id="Emotion3" name="Emotion" value="sad" (change)="onChangeEmotion($event)">
<label for="Emotion3">Sad</label><br>

<input type="radio" id="Emotion4" name="Emotion" value="" (change)="onChangeEmotion($event)">
<label for="Emotion4">Unknown/Other</label><br>
</div>
<br>
<div class="col-xs-4">
      <h4>Age:</h4>
      <input type="radio" id="age1" name="age" value="18" (change)="onChangeAge($event)">
      <label for="age1">0 - 18</label><br>
      <input type="radio" id="age2" name="age" value="40" (change)="onChangeAge($event)">
      <label for="age2">19 - 39</label><br>
      <input type="radio" id="age3" name="age" value="100" (change)="onChangeAge($event)">
      <label for="age3">40-100</label><br>
      <input type="radio" id="age4" name="age" value="" (change)="onChangeAge($event)">
      <label for="age4">Unknown</label><br>
      </div>
      <br><br> 

            
<br><br><br><br><br>

</form>
<button class="btn btn-primary" (click)="goBack()"> Go Back</button>

<br><br><br><br><br><br><br><br><br><br>