
<div class="info-cont" style="background-color:powderblue;">
<h1> You have 10 seconds to remember as much as possible about the AI-generated face that will be shown. </h1>
<br>
<h3> Click the button when you are ready:</h3>

<button class="btn btn-success" (click)="onReady()"> Ready</button>


<br><br>
<h4>The aim is to get back to this image by decribing what you will see</h4>
<h5>If on a mobile phone, use it in landscape for an easier experience</h5>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p> All images were taken with permission from Generated.Photos</p>
</div>

